<h2 mat-dialog-title>Añadir libro</h2>
<mat-dialog-content>
       <p class="name">{{libro.nombre}}</p>
        <form [formGroup]="formNewReading" (submit)="registerReading()"> <!--(submit)="registerReading()" -->
                <div class="form-group">
                        <label class="control-label" for="id"> </label> <input id="id" type="hidden"
                                formControlName="idLectura" class="form-control" autofocus="autofocus">

                        <label class="control-label" for="id"> </label> <input id="id" type="hidden"
                                formControlName="idLibro" class="form-control" autofocus="autofocus">

                        <label class="control-label" for="id"> </label> <input id="id" type="hidden"
                                formControlName="idUsuario" class="form-control" autofocus="autofocus">
                </div>
                <div class="form-group">
                        
                        <!-- <label class="control-label" for="estado">Estado: </label> -->
                        <select formControlName="idEstado" name="estado" class="estado" (change)="captureSelect($event)">
                                
                                @for (estado of estados; track estado.id){
                                       
                                <!-- <option [ngValue]=""  [selected]="estado.id===1"> -->
                                        @if(estado.id===1){
                                                <option [value]="estado.id" disabled>
                                        
                                        {{ estado.situacion}}
                                </option>
                                        }@else{
                                                <option [value]="estado.id">
                                        
                                        {{ estado.situacion}}
                                </option>
                                        }
                                

                                }
                        </select>
                </div>
                <div class="form-group">
                        <label class="control-label" for="puntuacion"> </label> <input id="puntuacion" type="hidden"
                                formControlName="puntuacion" class="form-control" autofocus="autofocus">
                </div>
                @if(selectedOption==="2"){
                <!-- <mat-toolbar color="primary"></mat-toolbar> -->
                <div class="rating">
                @for (star of ratingArray; track star; let index = $index){
                <mat-icon (mouseenter)="setStar(index)" [ngClass]="{checked:selectedStar>index}"
                        (mouseleave)="unselectStar()" (click)="rating(index)" class="star">star</mat-icon>
                }
                </div>
                }
                <div class="form-group">
                        <mat-dialog-actions class="buttons">
                        <button type="button" class="btn " (click)="closeForm()">Atrás</button>
                        
                           <button type="submit" class="btn btn-success">Añadir</button>     
                        
                       </mat-dialog-actions> 

                </div>
                
        </form>
        
</mat-dialog-content>
