<h2 mat-dialog-title class="title">Añadir libro</h2>
@if (book) {
<mat-dialog-content>
        <p class="name">{{book.nombre}}</p>
        <!-- Formulario para agregar el libro como pendiente o leido -->
        <form [formGroup]="formNewReading" (submit)="registerReading()">
                <div class="form-group">
                        <input id="idReading" type="hidden" formControlName="idLectura" class="form-control">

                        <input id="idBook" type="hidden" formControlName="idLibro" class="form-control">

                        <input id="idUser" type="hidden" formControlName="idUsuario" class="form-control">
                </div>

                <div class="form-group">
                        <select formControlName="idEstado" name="estado" class="state" (change)="captureSelect($event)">
                                @for (estado of states; track estado.id) {
                                        @if (estado.id === 1) {
                                        <option [value]="estado.id" disabled>{{estado.situacion}}</option>
                                        } @else {
                                        <option [value]="estado.id">{{estado.situacion}}</option>
                                        }
                                }
                        </select>
                </div>

                <div class="form-group">
                        <input id="puntuacion" type="hidden" formControlName="puntuacion" class="form-control">
                </div>
                <!-- Apartado para puntuar si se selecciona el libro como Leido-->
                @if (selectedOption === "2") {
                <div class="rating">
                        <!-- Recorrido del array de 5 estrellas sin marcar -->
                        @for (star of ratingArray; track star; let index = $index){
                        <!-- Componente para marcar, desmarcar y confirmar la seleccion de estrellas de puntuacion -->
                        <mat-icon (mouseenter)="setStar(index)" [ngClass]="{checked: selectedStar > index}"
                                (mouseleave)="unselectStar()" (click)="rating(index)" class="star">star</mat-icon>
                        }
                </div>
                }

                <div class="form-group">
                        <mat-dialog-actions class="buttons">
                                <button type="button" class="btn" (click)="closeForm()">Atrás</button>
                                <button type="submit" class="btn btn-success">Añadir</button>
                        </mat-dialog-actions>
                </div>
        </form>
</mat-dialog-content>
}