<app-header-user></app-header-user>
<div class="ficha">
    
    <div class="detalles">
        <p id="nombre">{{libro.nombre}}</p>
<a [routerLink]="['/results/author',libro.autor.id]"><p class="autor">{{libro.autor.nombre}}</p></a>
<a [routerLink]="['/results/publisher',libro.editorial.id]"><p class="editorial">{{libro.editorial.nombre}}</p></a>
<p class="isbn"> · {{libro.isbn}}</p>
<a [routerLink]="['/results/genre',libro.genero.id]"><p class="genero">{{libro.genero.nombre}}</p></a>
<span>Sinopsis:</span>
<p class="sinopsis">{{libro.sinopsis }}</p>

    </div>

<img src="{{libro.portada}}" id="portada"/>
@if(user.rol.id===2){
@if(puntuacion!=null){
<div class="score">
<span class="valoracion">Valoración</span>    
<p class="puntuacion">{{puntuacion | number: '1.0-1'}}</p> 
<!-- da formato 0.0 numero y redondea hacia arriba. El 1.0 hace que solo salgan decimales cuando los haya -->
<section class="example-section">
  <mat-card-content>
    
<mat-progress-spinner
        class="circle"
        mode="determinate"
        
        [value]=100>
    </mat-progress-spinner>
    <mat-progress-spinner
        class="example-margin"
        mode="determinate"
        
        [value]="valor">
    </mat-progress-spinner>
  </mat-card-content>



</section>
</div>
}
<div class="seleccionEstado">
    @if(lectura===null || lectura.estado.id===1){
    <button type="button" class="lectura" matButton="elevated" (click)="openReadingDialog('0ms', '0ms')">Añadir</button>
}@else if(lectura.estado.id===2){ 
    <button type="button" class="lectura" matButton="elevated" (click)="openReadingUpdateDialog('0ms', '0ms')">{{lectura.estado.situacion}}</button>
}@else{
    <button type="button" class="lectura" matButton="elevated" (click)="openReadingUpdateDialog('0ms', '0ms')">{{lectura.estado.situacion}}</button>
}
</div>
}

<!-- admin -->
@if(user.rol.id==1){
<div class="editar">    
<button type="button" class="botonEditar"><a [routerLink]="['/book-section/editar/',libro.id]">Editar</a></button>
</div>
}



</div>



