.administracion{
    width: 60%;
    margin: auto;
}
h2{
    margin-top: 40px;
    margin-bottom: 20px;
    width: max-content;
    
    
}
.vista{
    float: left;
    /* margin-top: -53px;
   margin-left: 256px; */
   border: none;
   background-color: rgb(253, 160, 54);
   
   /* width: 32px;
   height: 32px; */
   width: 56px;
   height: 56px;
   margin-right: 5px;
   border-radius: 4px;

}
.vista img{
    filter: invert(100%);
    width: 17px;
    margin-bottom: 3px;
}

.mat-mdc-form-field {
    width: 260px;
}
.mat-mdc-table {
    background-color: white;
    
    
}

th{
    font-weight: bolder;
    font-size: 1.1em;
    color: #46434e;

    border-bottom: 2px solid rgb(165, 164, 164) ;
}
td{
    border-bottom: 1px solid rgb(165, 164, 164) ;
}


.edit-buttom{
    background-color: rgb(253, 160, 54);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    
    
    
}
.edit{
    filter: invert(100%);
	width: 24px;
    height: 24px;
    
	
    
}
#botonCrear{
    float: right;
    background-color: rgb(253, 160, 54);
    color: white;
    height: 56px;
    width: 100px;
    
    padding: 15px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    
    /* width: 1139px; */
}

/* Todo nuevo */
.libros{
    
    margin: auto;
    
}
.listadoLibros{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    height: max-content;
    width: 1150px;
    text-align: center;
    /* border: 1px solid black; */
    
    margin-top: 30px;
    
}
.libro{
   height: 350px;
    width: 220px; 
    /* border: 1px solid black; */
    margin-bottom: 15px;
}

#portada{
    height: 300px;
    width: 220px;
    
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    
   
}
.nombre{
    margin-top: 5px;
    font-size: 0.95em;
    color:rgb(99, 99, 99);
    
}
a{
    text-decoration: none;
    
    
    
}
.paginator{
    
    /* margin-top: 840px;  */
    margin-top: 14px;
    
    background-color: white;
    
}
