.cs-page-wrapper{
    margin-top: 40px;
}

.list-group.list-group-flush.border-top {
    border-radius: 5px;
}

.list-group-item.active{
    background-color: rgb(255, 141, 11); 
    border-color: rgb(201, 198, 198); 
    
    font-weight: 500;
    
}

.col-sm-6.form-group{
    margin-bottom: 5px;
}

.btn.btn-primary.btn-lg{
    background-color: rgb(255, 141, 11);
    border-color: rgb(255, 141, 11);
    margin-top: -5px;
}

.btn.btn-primary.btn-lg:hover{
    background-color: rgb(240, 129, 1);
    border-color: rgb(240, 129, 1);
}
.list-group-item.list-group-item-action.d-flex.align-items-center:hover{
    cursor: pointer;
}
.list-group-item.list-group-item-action.d-flex.align-items-center>button{
    border: none;
    background: none;
    padding-left: 0px;
    width: 100%;
    text-align: left;
}

.alert{
    height: 22px;
    font-size: 0.8em;
    text-align: left;
    color: #820000;
    padding-top: 2px;
    margin-left: -19px;
    margin-bottom: -7px;
    margin-top: 2px;
} 

svg{
   height: 19px;
    width: 19px; 
    fill: #820000;
    padding-bottom: 2px;
}