body {
	font-family: Arial, Helvetica, sans-serif;
    
}

.cs-page-wrapper{
    margin-top: 40px;
}

.col-lg-8.ml-auto{
    margin-left: 50px;
}

.list-group.list-group-flush.border-top {
    border-radius: 5px;
}

.list-group-item.active{
    background-color: rgb(255, 141, 11); 
    border-color: rgb(201, 198, 198); 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 500;
    
}

label{
    color: rgb(92, 91, 91);
    font-weight: bold;
}

input:focus {
    box-shadow: 0px 0px 4px 4px rgb(252, 205, 148);
    border-color: rgb(252, 205, 148);
}

.btn.btn-primary.btn-lg{
    background-color: rgb(255, 141, 11);
    border-color: rgb(255, 141, 11);
    margin-top: -45px;
}

.btn.btn-primary.btn-lg:hover{
    background-color: rgb(240, 129, 1);
    border-color: rgb(240, 129, 1);
}
.list-group-item.list-group-item-action.d-flex.align-items-center:hover{
    cursor: pointer;
}
.list-group-item.list-group-item-action.d-flex.align-items-center>button{
    border: none;
    background: none;
    padding-left: 0px;
    width: 100%;
    text-align: left;
}

.col-sm-6.form-group{
    margin-right: 5px;
    margin-bottom: 10px;
}

.alert{
    height: 22px;
    font-size: 0.8em;
    text-align: left;
    color: #820000;
    padding-top: 2px;
    margin-left: -19px;
    margin-bottom: -7px;
    margin-top: 2px;
} 

svg{
   height: 19px;
    width: 19px; 
    fill: #820000;
    padding-bottom: 2px;
}

.menu{
    display: none;
}