/* Estilo general de Perfil password */
.cs-page-wrapper {
    margin-top: 40px;
}

/* Estilo apartado de menu y formulario */
.col-lg-8.ml-auto {
    margin-left: 50px;
}

/* Estilos del menu del perfil */
.list-group.list-group-flush.border-top {
    border-radius: 5px;
}

.list-group-item.active {
    background-color: rgb(255, 141, 11);
    border-color: rgb(201, 198, 198);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 500;
}

.list-group-item.list-group-item-action.d-flex.align-items-center.active:hover {
    background-color: rgb(240, 129, 1);
}

.list-group-item.list-group-item-action.d-flex.align-items-center>button {
    border: none;
    background: none;
    padding-left: 0px;
    width: 100%;
    text-align: left;
}

/* Menu para pantallas de menor dimension oculto */
.menu {
    display: none;
}

/* Estilos formulario de update password */
.col-sm-6.form-group {
    margin-right: 5px;
    margin-bottom: 10px;
}

label {
    color: rgb(92, 91, 91);
    font-weight: bold;
}

input:focus {
    box-shadow: 0px 0px 4px 4px rgb(252, 205, 148);
    border-color: rgb(252, 205, 148);
}

.form-control.form-control-lg {
    margin-top: 5px;
}

/* Estilo boton de actualizar */
.btn.btn-primary.btn-lg {
    background-color: rgb(255, 141, 11);
    border-color: rgb(255, 141, 11);
    margin-top: -20px;
}

.btn.btn-primary.btn-lg:hover {
    background-color: rgb(240, 129, 1);
    border-color: rgb(240, 129, 1);
}

/* Avisos de comprobaciones de formulario */
.alert {
    height: 22px;
    font-size: 0.8em;
    text-align: left;
    color: #820000;
    margin: -10px 0 0 -19px;
    width: max-content;
}

svg {
    height: 19px;
    width: 19px;
    fill: #820000;
    padding-bottom: 2px;
}

/* Media queries para pantallas grandes */
@media (max-width: 1200px) {
    .col-xl-3 {
        margin-left: 10px;
        width: 30%;
    }

    #account-menu {
        display: block;
    }

    .col-lg-8.ml-auto {
        margin-left: 15px;
        width: 65%;
    }

    .form-control.form-control-lg {
        width: 120%;
    }    
}

@media (max-width: 899px) {
    /* Ocultacion menu lateral */
    .col-xl-3 {
        display: none;
    }

    .align-items-center.justify-content-between.mb-4 {
        display: inline-flex;
    }

    .col-lg-8.ml-auto {
        width: 95%;
    }

    .h2.mb-0 {
        width: max-content;
    }    

    /* Estilos menu para pantallas de menor dimension */
    .menu {
        display: block;
        margin-top: 5px;
        position: relative;
    }

    .view {
        border: none;
        background: none;
        height: 18px;
        width: 18px;
    }

    #menu {
        filter: invert(20%);
        height: 14px;
        width: 14px;
    }

    /* Estilo desplegable */
    .options {
        position: absolute;
        right: 0;
        margin-top: 4px;
        margin-right: -6px;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 0;
        width: 135px;
        border: 1px solid rgb(187, 185, 185);
    }

    /* Estilo opciones del desplegable */
    .option {
        color: gray;
        padding: 5px 0px 5px 15px;
        text-decoration: none;
        list-style-type: none;
        text-align: left;
        font-size: 0.9em;
    }

    .option:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

    .option a {
        text-decoration: none;
        color: gray;
    }

    .option button {
        border: none;
        background: none;
        color: gray;
        margin-left: -6px;
    }    
}

@media (max-width: 579px) {
    .cs-page-wrapper {
        margin-left: 35px;
        margin-top: 30px;
    }

    .col-lg-8.ml-auto {
        width: 86%;
    }

    .options {
        margin-top: 2px;
        margin-right: -14px;
    }

    .row.pb-3 {
        display: block;
        margin-top: -14px;
    }        

    .form-control.form-control-lg {
        width: 400px;
    }

    .alert {
        margin-bottom: 10px;
    }

}

/* Media query para pantallas de menor dimension */
@media (max-width: 480px) {
    .cs-page-wrapper {
        margin-top: 40px;
    }

    .row.pb-3 {
        margin-top: 0px;
    }

    .form-control.form-control-lg {
        width: 350px;
    }
}