.cs-page-wrapper{
    margin-top: 40px;
}

.list-group.list-group-flush.border-top {
    border-radius: 5px;
}

.list-group-item.active{
    background-color: rgb(255, 141, 11); 
    border-color: rgb(201, 198, 198); 
    
    font-weight: 500;
    
}



.btn.btn-primary.btn-lg{
    background-color: rgb(255, 141, 11);
    border-color: rgb(255, 141, 11);
    margin-top: 15px;
}

.btn.btn-primary.btn-lg:hover{
    background-color: rgb(240, 129, 1);
    border-color: rgb(240, 129, 1);
}
.list-group-item.list-group-item-action.d-flex.align-items-center:hover{
    cursor: pointer;
}
.list-group-item.list-group-item-action.d-flex.align-items-center>button{
    border: none;
    background: none;
    padding-left: 0px;
    width: 100%;
    text-align: left;
}

.col-sm-6.form-group{
    margin-right: 5px;
    margin-bottom: 10px;
}
