<h2 mat-dialog-title>Editar libro</h2>
<mat-dialog-content>
  <form [formGroup]="formUpdate" (submit)="update()">

    <div class="form-group">
      <label class="control-label" for="ac-fn">Título</label>
      <input type="text" id="nombre" class="form-control" formControlName="nombre">


    </div>
    <div class="form-group" formGroupName="autor">
      <label class="control-label" for="ac-ln">Autor</label>
      <select formControlName="id" id="autor">
        @for (autor of autores; track autor.id){

        <option [value]="autor.id">
          {{ autor.nombre}}
        </option>
        }

      </select>

      <button type="button" class="editButton" matButton="elevated" (click)="openUpdateAuthorDialog('0ms', '0ms')"><img
          src="/assets/update/edit.png" class="edit" alt="edit" /></button>
    </div>


    <div class="form-group" formGroupName="editorial">
      <label class="control-label">Editorial</label>
      <select formControlName="id" id="editorial">

        @for (editorial of editoriales; track editorial){

        <option [value]="editorial.id">
          {{ editorial.nombre}}
        </option>
        }
      </select>


      <button type="button" class="editButton" matButton="elevated"
        (click)="openUpdatePublisherDialog('0ms', '0ms')"><img src="/assets/update/edit.png" class="edit"
          alt="edit" /></button>
    </div>
    <div class="form-group" formGroupName="genero">
      <label class="control-label">Género</label>
      <select formControlName="id" id="genero">

        @for (genero of generos; track genero){

        <option [value]="genero.id">
          {{ genero.nombre}}
        </option>
        }
      </select>

      <button type="button" class="editButton" matButton="elevated" (click)="openUpdateGenreDialog('0ms', '0ms')"><img
          src="/assets/update/edit.png" class="edit" alt="edit" /></button>
    </div>

    <mat-dialog-actions class="buttons">
      <button type="button" class="btn" (click)="closeForm()">Atrás</button>
      <button type="submit" class="btn btn-success">Actualizar</button>
    </mat-dialog-actions>

    <!-- <button type="submit" class="btn btn-primary btn-lg">&nbsp;Actualizar&nbsp;</button> -->
  </form>

</mat-dialog-content>