<div class="header">
  <div class="header-content">
    <div class="headerBooks">
      <a routerLink="/home"><img src="/assets/logo/ibooks.png" alt="logo" id="logo" /></a>
      <div class="menu">
        <button type="button" (click)="toggleView()" class="view"><img src="/assets/icon/list-menu.png" alt="menu"
            id="menu" /></button>
        @if(!showMenu){
        <ul class="urls">
          <li class="linkAdap"><a routerLink="/home">Home</a></li>
          <li class="linkAdap"><a routerLink="/books">Libros</a></li>
          <li class="linkAdap"><a routerLink="/readings">Mis libros</a></li>
          <li class="linkAdap"><a routerLink="/profile">Perfil</a></li>
          <li class="linkAdap"><button (click)="logout()">Cerrar sesión</button></li>
        </ul>
        }
      </div>

      <h1>GoBooks</h1>
    </div>
    <div class="account-options">
      <div class="options">
        <button type="button" (click)="toggleViewAccount()" class="account">
          <img src="/assets/user/user.png" alt="usuario" id="user" />
          <span class="userName">{{user.nombre}}</span>
        </button>



        @if(!showAccount){
        <ul class="links">
          <li class="link"><a routerLink="/profile">Mi cuenta</a></li>
          <li class="link" (click)="logout()">Cerrar sesión</li>
        </ul>
        }
      </div>
    </div>


  </div>
</div>
<div class="routes">
  <nav class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/home" class="nav-link active">Home</a></li>
      <li class="nav-item"><a routerLink="/books" class="nav-link">Libros</a></li>
      <li class="nav-item"><a routerLink="/readings" class="nav-link">Mis libros</a></li>
      <li class="nav-item"><a routerLink="/profile" class="nav-link">Perfil</a></li>
      <li class="nav-item"><button class="nav-link" (click)="logout()">Cerrar sesión</button></li>
    </ul>
  </nav>
</div>