<div id="cabecera">
    <div id="cabeceraBooks">    
        <a  th:href="@{/inicio}"><img src="/img/ibooks.png" alt="logo" id="logo" /></a>
        <h1>GoBooks</h1>
    </div>    
    <div class="login">
        <a href="#"><button id="login"><img src="img/user.png" alt="usuario" id="usuario"/>Mi cuenta</button></a>
    </div>
</div>
<div class="container">
    <nav class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/home" class="nav-link active">Home</a></li>
        <li class="nav-item"><a th:href="@{/libros/lecturas}" class="nav-link">Libros</a></li>
        <li class="nav-item"><a th:href="@{/ejemplar}" class="nav-link">Mis Libros</a></li>
        <li class="nav-item"><a routerLink="/profile"  class="nav-link">Perfil</a></li>
        <li class="nav-item"><a th:href="@{/intereses}" class="nav-link">Intereses</a></li>
        <li class="nav-item"><button class="nav-link" (click)="logout()">Cerrar Sesión</button></li>
      </ul>
    </nav>
</div>