<div id="cabecera">
    <div id="cabeceraBooks">    
        <a routerLink="/home"><img src="/assets/logo/ibooks.png" alt="logo" id="logo"/></a>
        <h1>GoBooks</h1>
    </div>    
    <!-- <div class="login">
        <a routerLink="/profile"><button id="cuenta"><img src="/assets/user/user.png" alt="usuario" id="usuario"/>Mi cuenta</button></a>
      
      </div> -->
      <div class="cuenta">
        <img src="/assets/user/user.png" alt="usuario" id="usuario"/>
        <div class="opciones">
        <span class="nombre">{{user.nombre}}</span>
        <ul class="links">
          <li class="link"><a routerLink="/profile">Mi cuenta</a></li>
          <li class="link" (click)="logout()">Cerrar sesión</li>
        </ul>
        </div>
      </div>
</div>
<div class="container">
    <nav class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/home" class="nav-link active">Home</a></li>
        <li class="nav-item"><a routerLink="/books" class="nav-link">Libros</a></li>
        <li class="nav-item"><a routerLink="/readings" class="nav-link">Mis Libros</a></li>
        <li class="nav-item"><a routerLink="/profile"  class="nav-link">Perfil</a></li>
        <li class="nav-item"><button class="nav-link" (click)="logout()">Cerrar Sesión</button></li>
      </ul>
    </nav>
</div>
