.header {
	/* width: 100%; */
	min-height: 120px;
	background-color: rgb(253, 211, 159);
	box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
	
}

.header-content{
	width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

#logo {
	height: 50px;
	width: 50px;
	margin-top: 35px;
	margin-left: 40px;
}

#logo, h1 {
	float: left;
}

h1 {
	color: rgb(255, 255, 255);
	font-weight: bold;
	margin-top: 36px;
	margin-left: 15px;
	font-size: 2.5em;
}

.account {
	box-shadow: 0 0 3px 1px #ffffff;
	margin-top: 38px;
	margin-right: 40px;
	background-color: rgba(248, 186, 110, 0.705);
	padding: 4px 16px;
	border-radius: 3px;
	min-width: max-content;
	border: none;
}

.account-options{
	float: right;
	
}

.options {
	position: relative;
	display: inline-block;
	margin-top: 5px;
	
}

.links {
	position: absolute;
	background-color: #f9f9f9;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 3;
	list-style: none;
	padding: 0;
	margin: 0;
	top: 100%;
	left: 0;
	margin-top: -2px;	
}

.link {
	color: gray;
	padding: 12px 16px;
	text-decoration: none;
	text-align: left;
}

.link a {
	text-decoration: none;
	color: gray;
	display: block; /* Para que todo el área del li sea clicable */
	
}

.link:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

.userName {
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	padding-right: 4px;
	float: left;
	margin-top: 2px;	
}

#user {
	height: 30px;
	width: 30px;
	margin-right: 12px;
	filter: invert(100%);
	margin-top: 3px;
	margin-bottom: 3px;
	float: left;
	
}

.nav {
	--bs-nav-link-color: gray;
	font-weight: bold;
	--bs-nav-link-hover-color: #46434e;
}

.nav-pills .nav-link.active {
	background-color: rgb(255, 141, 11);
}

.nav-pills .nav-link.active:hover {
	background-color: rgb(252, 163, 40);
}

.menu{
	display: none;
}

@media (max-width: 1200px){
	.header-content{
    max-width: 1100px;
	
	}
}

@media (max-width: 1000px){
	.header-content{
    max-width: 900px;
	}

	#logo{
		margin-left: 10px;
	}

	.account{
		margin-right: 10px;
	}
}

@media (max-width: 899px){
	.header-content{
    	max-width: 800px;
	}

	#logo{
		margin-left: 20px;
	}

	.account{
		margin-right: 20px;
	}

	.links {
	
	min-width: 171px;
	
	}
}

@media (max-width: 699px){
	/* .header{
		max-width: 699px;
	} */

	.header-content{
    	max-width: 699px;
		
	}

	.links{	
		min-width: 130px;
		margin-left: -90px;	
		z-index: 4;		
	}

	.userName{
		display: none;
	}

	.account{
		border-radius: 50%;
		padding: 5px;
		margin-right: 20px;
		margin-top: 38px;		
	}

	#user{
		margin: auto;		
	}

	#logo{
		display: none;
	}

	h1{
		float: left;
		margin-left: 86px;		
	}

	.routes{
		display: none;
	}
	
	
	#menu{		
		filter: invert(100%);
		height: 24px;
		width: 24px;		
	}

	.options{
		z-index: 5;
	}

	.view{
		border: none;
		background: none;
		height: 29px;
		width: 29px;
		margin-left: 38px;
	}

	.urls{
		background-color: #f9f9f9;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		list-style: none;		
		/* padding: 0; */
		/* margin: 0; */
		/* top: 100%;	 */
		padding-left: 60px;
		/* left: 0; */
		margin-top: 44px;
		/* height: 242px; */
		height: max-content;
		margin-left: -40px;
	}


	.linkAdap button{
		border: none;
		background: none;
		color: gray;
		margin-left: -6px;
		
	}

	.linkAdap {
	color: gray;
	padding: 12px 0px 12px 75px;
	text-decoration: none;
	list-style-type: none;
	text-align: left;
	margin-left: -30px;
}

.linkAdap a {
	text-decoration: none;
	color: gray;
	display: block;
	
}

.linkAdap:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}
	
.menu{ 
	display: block;
	position: absolute; 
	/*ver si tocar, es para que quede por encima en la pagina*/
	z-index: 3;	
	margin-top: 49px;
	max-width: 699px;
	width: 100%;
	height: max-content;
}

}


@media (max-width: 480px){
	.header-content{
    	max-width: 480px;
	}

	.account{
		margin-right: 40px;
	}
	
	

}