<p>home works!</p>
<header id="cabecera">
    <div id="cabeceraBooks">    
        <a  th:href="@{/inicio}"><img src="/img/ibooks.png" alt="logo" id="logo" /></a>
        <h1>GoBooks</h1>
    </div>    
    <div class="login">
        <a href="#"><button id="login"><img src="img/user.png" alt="usuario" id="usuario"/>Mi cuenta</button></a>
    </div>
</header>
<div class="container">
    <nav class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a th:href="@{/inicio}" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a th:href="@{/libros/lecturas}" class="nav-link">Lecturas</a></li>
        <li class="nav-item"><a th:href="@{/bookcrossing}"  class="nav-link">BookCrossing</a></li>
        <li class="nav-item"><a th:href="@{/ejemplar}" class="nav-link">Mis Libros</a></li>
        <li class="nav-item"><a th:href="@{/perfil}" class="nav-link">Perfil</a></li>
        <li class="nav-item"><a th:href="@{/intereses}" class="nav-link">Genero</a></li>
        <li class="nav-item"><a th:href="@{/logout}" class="nav-link">Cerrar Sesión</a></li>
      </ul>
    </nav>
</div>
<div class="lema">
<p id="frase1">Encuentra tu próxima lectura</p>
<p id="frase2">¡Únete al BookCrossing!</p>
</div>
<div id="ilustracionLibro">
<img alt="ilustracion" src="img/pixel-cells.png" id="ilustracion">
</div>
<div id="seccionBuscador">
    <form th:action="@{/inicio/resultados}" method="get">
        <input type="text"  name="clave" id="buscador" placeholder="Título, autor, editorial o ISBN"/>
        <input type="submit" name="buscar" id="buscar" value="Submit" />
    </form>
</div>
<div id="apartados">
    <div id="categoriasDestacadas">
        <h3>Categorías destacadas</h3><br/>
        <table>
        <tr>
        <td><img src="/img/hat.png" alt="logo" class="categoria"/></td>
        <td><img src="/img/castle.png" alt="logo" class="categoria" /></td>
        <td><img src="/img/ghost.png" alt="logo" class="categoria"/></td>
        <td><img src="/img/smile.png" alt="logo" class="categoria"/></td>
        </tr>
        <tr>
        <td><img src="/img/hearts.png" alt="logo" class="categoria" /></td>
        <td><img src="/img/pottery.png" alt="logo" class="categoria" /></td>
        <td><img src="/img/luggage.png" alt="logo" class="categoria"/></td>
        <td><img src="/img/ovni.png" alt="logo" class="categoria" /></td>
        </tr>
        </table>
        
        <div id="bloqueGenero">
        <div th:each="gen:${generos}" id="listaGeneros" >
        <a  th:href="@{'/generos/'+${gen.id}}"><span th:text="${gen.nombre}" class="genero"></span></a>
        </div>
        </div>
    </div>
    <div id="ultimosIntercambios">
        <h3>Últimos intercambios</h3><br/>
    </div>
    <div id="librosDestacados">
        <h3>Libros destacados</h3>
            <div th:each="lib:${libros}" id="listaLibros" >
                 <img th:src="@{${'/portadas/image/display/'+ lib.portada.id}}" style="width:200px" alt=""/><br/>
                <a  th:href="@{'/libros/'+${lib.id}}"><span th:text="${lib.nombre}"></span></a>
             </div>
             <p id="botonLibros"><a th:href="@{/libros}">Ver más libros</a></p>
    </div>
</div>
