#ilustracionLibro{
	
	text-align: center;
}
#ilustracion{
	width:60%;
	height:60%;
}
#seccionBuscador{
	text-align: center;
	margin-top: -70px;
}
#buscador{
	height: 60px;
	width: 600px;
	border-radius: 40px;
	border-style: double;
	border-color:rgb(165, 164, 164);
	padding-left: 20px;
}

#apartados{
	margin-top: 100px;
}
#categoriasDestacadas{
	
    margin: 0px 100px;
}

.listaCategorias {
	height: 460px;
	width: 1000px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	/* border: 1px solid #e4e5ec; */
	margin-left: 100px;
	margin-top: 20px;
	
}
.categoria{
	height: 200px;
	width:200px;
	/* border: 1px solid #e4e5ec; */
	
}
.categoria img{
	height: 150px;
	width:150px;
	margin-bottom: 10px;
}

.titulo a{
	text-decoration: none;
	color:rgb(99, 99, 99);
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight:bold;
	

}

.listadoLibros{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 380px;
    width: 1100px;
    text-align: center;
    /* border: 1px solid black; */
    margin-left: 50px;
    margin-top: 20px;
}
.libro{
   height: 350px;
    width: 220px; 
    /* border: 1px solid black; */
}

#portada{
    height: 300px;
    width: 220px;
    
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    
   
}
.nombre{
    margin-top: 5px;
}
.nombre a{
    text-decoration: none;
    color:rgb(99, 99, 99);
    
}

#botonLibros{
	float:left;
	height: 40px;
	width: 200px;

	background-color: rgb(253, 160, 54);
	padding-top: 7px;
	border-radius: 20px;
	text-align: center;
	
}

#botonLibros a{
	text-decoration: none;
	color: white;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight:bold;
	
	
}


