/* Estilo general de Home */
.home {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
/* Estilo imagen principal de la Home */
.home-illustration {
	text-align: center;
}

#illustration {
	width: 70%;
	height: 70%;
}
/* Estilo del apartado del buscador */
.search-section {
	text-align: center;
	margin-top: -70px;
}

#search {
	height: 60px;
	width: 600px;
	border-radius: 40px;
	border-style: double;
	border-color: rgb(165, 164, 164);
	padding-left: 20px;
	position: relative;
}

.search-button {
	border: none;
	background-color: rgb(253, 160, 54);
	position: absolute;
	margin-left: -65px;
	margin-top: 6px;
	z-index: 1;
	border-radius: 40px;
}

.lens {
	filter: invert(100%);
	height: 46px;
	padding: 10px;
}
/* Apartado de secciones */
#sections {
	margin: 70px 30px;
	padding-bottom: 100px;
}

h3 {
	border-bottom: 1px solid #d0d4dd;
	padding-bottom: 10px;
}
/* Estilo de apartado de categorias */
.list-categories {
	height: 100%;
	width: 93%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 4.1rem;
	margin: 20px auto 0;
}

.category {
	height: 200px;
	width: 200px;
	margin-bottom: 15px;
}

.category img {
	height: 150px;
	width: 150px;
	margin-bottom: 10px;
}

.title a {
	text-decoration: none;
	color: rgb(99, 99, 99);
	font-weight: bold;
}
/* Estilo secciones ultimos libros y mejor valorados */
.last-books {
	margin-bottom: 80px;
}

.last-books, .scored-books {
	margin-top: 30px;
}
/* Estilo para los listados de libros */
.book-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 4.1rem;
	height: 100%;
	width: 95%;
	text-align: center;
	margin: 35px auto 55px;
}

.book {
	height: 350px;
	width: 220px;
}

#cover {
	height: 300px;
	width: 220px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
}

.name {
	margin-top: 5px;
	font-size: 0.95em;
}

.name a {
	text-decoration: none;
	color: rgb(99, 99, 99);
}
/* Estilo de los botones de acceso a los listados completos */
.books-button {
	background-color: rgb(253, 160, 54);
	padding: 15px;
	border-radius: 10px;
	text-align: center;
	display: block;
	margin: 0 auto;
	color: white;
	font-weight: bold;
	border: none;
	width: 150px;
}

.books-button:hover {
	background-color: rgb(255, 141, 11);
}
/* Carrusel para pantallas de menor dimension oculto */
#carouselLast, #carouselScore {
	display: none;
}
/* Media queries para pantallas grandes */
@media (max-width: 1200px) {
	.home {
		max-width: 1000px;
	}

	.home-illustration {
		margin-top: 20px;
	}

	#search {
		height: 50px;
		margin-top: 10px;
		width: 65%;
	}

	.search-button {
		margin-top: 15px;
		margin-left: -56px;
	}

	.lens {
		height: 38px;
		padding: 9px;
	}

	h3 {
		font-size: 1.5em;
	}

	.list-categories {
		width: 98%;
		column-gap: 4.3rem;
		margin-bottom: 70px;

	}

	.category {
		height: 160px;
		width: 160px;
		margin-bottom: 20px;
	}

	.category img {
		height: 120px;
		width: 120px;
	}

	.book-list {
		width: 100%;
		margin-bottom: 15px;
	}

	.book {
		width: 100%;
	}

	#cover {
		height: 70%;
		width: 100%;
	}

	.name {
		font-size: 0.9em;
	}
}

@media (max-width: 899px) {
	.home {
		max-width: 800px;
	}

	#search {
		margin-top: 22px;
		height: 36px;
		width: 68%;
	}

	.lens {
		height: 23px;
		padding: 4px;
	}

	.search-button {
		margin-left: -40px;
		margin-top: 26px;

	}

	#sections {
		margin: 80px 78px;
	}

	h3 {
		font-size: 1.4em;
		padding-bottom: 7px;
	}

	.list-categories {
		margin-top: 20px;
		height: 300px;
		column-gap: 1.4rem;
	}

	.category {
		height: 110px;
		width: 110px;
	}

	.category img {
		height: 75px;
		width: 75px;
	}

	.title {
		font-size: 0.8em;
	}

	.book-list {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
		margin-top: 20px;
		height: 750px;
	}

	#cover {
		height: 290px;
		width: 210px;
	}

	.name {
		width: 210px;
		margin: 5px auto 0;
	}

	.book {
		height: 360px;
	}
}

@media (max-width: 699px) {
	.home {
		max-width: 480px;
	}

	#illustration {
		width: 95%;
		height: 95%;
	}

	#search {
		margin-top: 30px;
		height: 40px;
		width: 450px;
	}

	.search-button {
		margin-left: -46px;
		margin-top: 35px;
	}

	.lens {
		padding: 4px;
		height: 28px;
	}

	#sections {
		margin: 80px 10px;
	}

	h3 {
		font-size: 1.3em;
		padding-bottom: 6px;
	}

	.list-categories {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 6rem;
		margin-left: 40px;
		margin-bottom: 280px;
		height: 460px;
		width: 80%;
	}

	.category {
		margin-bottom: 20px;
		height: 150px;
		width: 130px;
	}

	.category img {
		height: 120px;
		width: 120px;
		margin-bottom: 5px;
	}
}
/* Media query para pantallas de menor dimension */
@media (max-width: 480px) {
	.home {
		max-width: 420px;
	}

	#illustration {
		margin-top: 50px;
		width: 80%;
		height: 80%;
	}

	#search {
		margin-top: 40px;
		height: 34px;
		width: 350px;
	}

	.search-button {
		margin-left: -40px;
		margin-top: 43px;
	}

	.lens {
		padding: 4px;
		height: 24px;
	}

	#sections {
		margin: 70px 20px;
	}

	h3 {
		font-size: 1.2em;
	}

	.list-categories {
		column-gap: 4.4rem;
		margin: 30px auto 50px;
		height: max-content;
		width: 340px;
	}

	.category {
		margin-bottom: 25px;
		height: 130px;
		width: 120px;
	}

	.category img {
		height: 100px;
		width: 100px;
	}
	/* Ocultacion de los listados de libros */
	.book-list {
		display: none;
	}
	/* Estilo para los carruseles */
	#carouselLast, #carouselScore {
		display: block;
		height: 433px;
		width: 250px;
		margin: 30px auto 0;
	}

	.carousel-control-next, .carousel-control-prev {
		background-color: rgba(59, 59, 59, 0.377);
		border-radius: 50%;
		height: 40px;
		width: 40px;
		padding: 5px;
		margin-top: 165px;
	}

	.carousel-control-next {
		margin-right: 8px;
	}

	.carousel-control-prev {
		margin-left: 8px;
	}

	#cover {
		margin: 5px;
		height: 330px;
		width: 240px;
	}

	.name {
		text-align: center;
		font-size: 1em;
		margin-bottom: 15px;
	}
}