<!-- Header con navegacion para el usuario -->
<app-header-user></app-header-user>
<!-- Cuerpo de la Home -->
<div class="home">
    <div class="home-illustration">
        <img src="/assets/main-home/pixel-cells.png" id="illustration" alt="Ilustración">
    </div>
    <!-- Apartado buscador -->
    <div class="search-section">
        <form [formGroup]="formSearch" (submit)="search()">
            <input type="text" formControlName="clave" id="search" placeholder="Título, autor, editorial o ISBN" />
            <button type="submit" class="search-button"><img src="/assets/main-home/search.png" class="lens"
                    alt="Búsqueda" /></button>
        </form>
    </div>

    <div id="sections">
        <!-- Listado de categorias -->
        <section id="categories">
            <h3>Categorías destacadas</h3>
            <div class="list-categories">
                <div class="category">
                    <a [routerLink]="['/results/genre/3']"><img src="/assets/categories/hat.png" alt="Misterio" /></a>
                    <span class="title"><a [routerLink]="['/results/genre/3']">MISTERIO</a></span>
                </div>
                <div class="category">
                    <a [routerLink]="['/results/genre/1']"><img src="/assets/categories/castle.png" alt="Fantasía" /></a>
                    <span class="title"><a [routerLink]="['/results/genre/1']">FANTASÍA</a></span>
                </div>
                <div class="category">
                    <a [routerLink]="['/results/genre/4']"><img src="/assets/categories/ghost.png" alt="Terror" /></a>
                    <span class="title"><a [routerLink]="['/results/genre/4']">TERROR</a></span>
                </div>
                <div class="category">
                    <a [routerLink]="['/results/genre/7']"><img src="/assets/categories/reading.png" alt="Contemporánea" /></a>
                    <span class="title"><a [routerLink]="['/results/genre/7']">CONTEMPORÁNEA</a></span>
                </div>
                <div class="category">
                    <a [routerLink]="['/results/genre/5']"><img src="/assets/categories/hearts.png" alt="Romántica" /></a>
                    <span class="title"><a [routerLink]="['/results/genre/5']">ROMÁNTICA</a></span>
                </div>
                <div class="category">
                    <a [routerLink]="['/results/genre/6']"><img src="/assets/categories/pottery.png" alt="Histórica" /></a>
                    <span class="title"><a [routerLink]="['/results/genre/6']">HISTÓRICA</a></span>
                </div>
                <div class="category">
                    <a [routerLink]="['/results/genre/2']"><img src="/assets/categories/luggage.png" alt="Aventuras" /></a>
                    <span class="title"><a [routerLink]="['/results/genre/2']">AVENTURAS</a></span>
                </div>
                <div class="category">
                    <a [routerLink]="['/results/genre/8']"><img src="/assets/categories/ovni.png" alt="Ciencia ficción" /></a>
                    <span class="title"><a [routerLink]="['/results/genre/8']">CIENCIA FICCIÓN</a></span>
                </div>
            </div>
        </section>
        <!-- Listado de ultimos libros incorporados -->
        <section class="last-books">
            <h3>Últimos libros</h3>
            <div class="book-list">
                @for (libro of lastBooks; track libro) {
                <div class="book">
                    <a [routerLink]="['/books/book-section',libro.id]"><img src="{{libro.portada}}" id="cover"
                            alt="{{libro.nombre}}" /></a>
                    <p class="name"><a [routerLink]="['/books/book-section',libro.id]">{{libro.nombre}}</a></p>
                </div>
                }
            </div>
            <!-- Carrusel con ultimos libros para pantallas de menor dimension -->
            <div id="carouselLast" class="carousel slide">
                <div class="carousel-inner">
                    @for (libro of lastBooks; track libro; let first = $first) {
                    <!-- First fija el primer elemento activo -->
                    <div class="carousel-item active" [class.active]="first">
                        <img src="{{libro.portada}}" id="cover" alt="{{libro.nombre}}">
                        <p class="name"><a [routerLink]="['/books/book-section',libro.id]">{{libro.nombre}}</a></p>
                    </div>
                    }
                </div>
                <!-- Botones de direccion del carrusel -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselLast"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselLast"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Boton para ver el listado completo de ultimos libros -->
            <button type="button" class="books-button" (click)="goLastBooks()">Ver más libros</button>
        </section>
        <!-- Listado de mayor a menor puntuacion de los libros -->
        <section class="scored-books">
            <h3>Mejor valorados</h3>
            <div class="book-list">
                @for (libro of booksScore; track libro) {
                <div class="book">
                    <a [routerLink]="['/books/book-section',libro.id]"><img src="{{libro.portada}}" id="cover"
                            alt="{{libro.nombre}}" /></a>
                    <p class="name"><a [routerLink]="['/books/book-section',libro.id]">{{libro.nombre}}</a></p>
                </div>
                }
            </div>
            <!-- Carrusel con libros mejor puntuados para pantallas de menor dimension -->
            <div id="carouselScore" class="carousel slide">
                <div class="carousel-inner">
                    @for (libro of booksScore; track libro; let first = $first) {
                    <div class="carousel-item active" [class.active]="first">
                        <img src="{{libro.portada}}" id="cover" alt="{{libro.nombre}}">
                        <p class="name"><a [routerLink]="['/books/book-section',libro.id]">{{libro.nombre}}</a></p>
                    </div>
                    }
                </div>
                <!-- Botones de direccion del carrusel -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselScore"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselScore"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Boton para ver el listado de todos los libros con puntuacion de mayor a menor-->
            <button type="button" class="books-button" (click)="goBooksScore()">Ver más libros</button>
        </section>
    </div>
</div>