.home{
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;	
}

#ilustracionLibro {
	text-align: center;
}

#ilustracion {
	width: 70%;
	height: 70%;
}

#seccionBuscador {
	text-align: center;
	margin-top: -70px;
}

#buscador {
	height: 60px;
	width: 600px;
	border-radius: 40px;
	border-style: double;
	border-color: rgb(165, 164, 164);
	padding-left: 20px;
	position: relative;
}

.searchButton {
	border: none;
	background-color: rgb(253, 160, 54);
	position: absolute;
	margin-left: -65px;
	margin-top: 6px;
	z-index: 1;
	border-radius: 40px;
}

.lupa {
	filter: invert(100%);
	height: 46px;
	padding: 10px;
}

#apartados {
	margin: 70px 30px;
	padding-bottom: 100px;
}

h3 {
	border-bottom: 1px solid #d0d4dd;
	padding-bottom: 10px;
}

.listaCategorias {	
	height: 100%;
	width: 93%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 4.1rem;
	margin: auto;
	margin-top: 20px;
	
}

.categoria {
	height: 200px;
	width: 200px;
	margin-bottom: 15px;
}

.categoria img {
	height: 150px;
	width: 150px;
	margin-bottom: 10px;
}

.titulo a {
	text-decoration: none;
	color: rgb(99, 99, 99);
	font-weight: bold;
}

.listadoLibros {
	display: grid;
	grid-template-columns: repeat(4, 1fr);	
	column-gap: 4.1rem;
	height: 100%;
	width: 95%;
	text-align: center;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 55px;
}

.libro {
	height: 350px;
	width: 220px;
}

#portada {
	height: 300px;
	width: 220px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
}

.nombre {
	margin-top: 5px;
	font-size: 0.95em;
}

.nombre a {
	text-decoration: none;
	color: rgb(99, 99, 99);
}

#botonLibros {
	background-color: rgb(253, 160, 54);
	padding: 15px;
	border-radius: 10px;
	text-align: center;	
	margin-left: 45%;
	color: white;
	font-weight: bold;
	border: none;
	width: 150px;
}

#botonLibros:hover {
	background-color: rgb(255, 141, 11);
}

#ultimosLibros {
	margin-bottom: 80px;
}

#ultimosLibros, #mejorValorados {
	margin-top: 30px;
}

#carouselExample, #carouselExample2 {
	display: none;
}

@media (max-width: 1200px) {
	.home{
		max-width: 1000px;
	}

	#ilustracionLibro{
		margin-top: 20px;
	}

	#buscador {
		height: 50px;
		margin-top: 10px;
		width: 65%;
	}

	.searchButton {
		margin-top: 15px;
		margin-left: -56px;
	}

	.lupa {
		height: 38px;
		padding: 9px;
	}

	h3 {
		font-size: 1.5em;
	}

	.listaCategorias {
		width: 98%;
		column-gap: 4.3rem;
		margin-bottom: 70px;
		
	}

	.categoria {
		height: 160px;
		width: 160px;
		margin-bottom: 20px;
	}

	.categoria img {
		height: 120px;
		width: 120px;
	}

	.listadoLibros {
		width: 100%;
		margin-bottom: 15px;
	}

	.libro {		
		width: 100%;
	}

	#portada {
		height: 70%;
		width: 100%;
	}

	.nombre {
		font-size: 0.9em;
	}

	#botonLibros {
		margin-left: 41%;		
	}
}

@media (max-width: 899px) {
	.home{
		max-width: 800px;
	}

	#buscador {
		margin-top: 22px; 
		height: 36px;		
		width: 68%;
	}

	.lupa {
		height: 23px;
		padding: 4px;
	}

	.searchButton {
		margin-left: -40px;
		margin-top: 26px;

	}

	#apartados {
		margin: 80px 78px;
	}

	h3 {
		font-size: 1.4em;
		padding-bottom: 7px;
	}

	.listaCategorias {		
		margin-top: 20px;
		height: 300px;
		column-gap: 1.4rem;
	}
	
	.categoria {
		height: 110px;
		width: 110px;
	}

	.categoria img {
		height: 75px;
		width: 75px;
	}

	.titulo {
		font-size: 0.8em;
	}

	.listadoLibros {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
		margin-top: 20px;
		height: 750px;
	}

	#portada {
		height: 290px;
		width: 210px;
	}

	.nombre{
		width: 210px;
		margin: auto;
		margin-top: 5px;
	}

	.libro{
		height: 360px;
	}

	#botonLibros {
		margin-left: 36%;		
	}
}

@media (max-width: 699px) {
	.home{
		max-width: 480px;
	}

	#ilustracion {		
		width: 95%;
		height: 95%;
	}

	#buscador {
		margin-top: 30px;
		height: 40px;
		width: 450px;
	}

	.lupa {
		padding: 4px;
		height: 28px;
	}

	.searchButton {
		margin-left: -46px;
		margin-top: 35px;
	}

	#apartados {
		margin: 80px 10px;
	}

	h3 {
		font-size: 1.3em;
		padding-bottom: 6px;
	}

	.listaCategorias {
		grid-template-columns: repeat(2, 1fr);
		margin-left: 40px;
		margin-bottom: 280px;
		height: 460px;
	}

	.categoria {
		margin-bottom: 20px;
		height: 150px;
		width: 130px;
	}

	.categoria img {
		height: 120px;
		width: 120px;
		margin-bottom: 5px;
	}

	#botonLibros {
		margin-left: 34%;		
	}
}

@media (max-width: 480px) {
	.home{
		max-width: 420px;
	}

	#ilustracion {
		margin-top: 50px;
		width: 80%;
		height: 80%;
	}

	#buscador {
		margin-top: 40px;
		height: 34px;
		width: 350px;
	}

	.lupa {
		padding: 4px;
		height: 24px;
	}

	.searchButton {
		margin-left: -40px;
		margin-top: 43px;
	}

	#apartados {
		margin: 70px 20px;
	}

	h3 {
		font-size: 1.2em;
	}

	.listaCategorias {
		column-gap: 4.4rem;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 50px;
		height: max-content;
		width: 340px;
	}

	.categoria {
		margin-bottom: 25px;
		height: 130px;
		width: 120px;
	}

	.categoria img {
		height: 100px;
		width: 100px;
	}

	.listadoLibros {
		display: none;
	}

	#carouselExample, #carouselExample2 {
		display: block;
		height: max-content;
		width: 250px;
		margin: auto;
		margin-top: 30px;
	}
	.carousel-control-next, .carousel-control-prev {
		background-color: rgba(59, 59, 59, 0.377);
		border-radius: 100%;
		height: 40px;
		width: 40px;
		padding: 5px;
		margin-top: 165px;
	}

	.carousel-control-next{
		margin-right: 8px;
	}

	.carousel-control-prev{
		margin-left: 8px;
	}

	#portada {
		margin: 5px;
		height: 330px;
		width: 240px;
	}

	.nombre {
		text-align: center;
		font-size: 1em;
		margin-bottom: 40px;
	}

	#botonLibros {
		margin-left: 115px;
		
	}
}