<div class="cabecera">
    <div class="cuerpo">
    <div class="titulo">
        <h1>GoBooks</h1>
    </div>
    <div class="login">
        <span>¿Ya tienes cuenta?</span>
        <a routerLink="/login">INICIA SESIÓN</a>
    </div>
    </div>
</div>
<div class="contenedor">
    <h2>Crea tu cuenta</h2>
    <div class="formulario">
        <form [formGroup]="formNewUser" (submit)="register()">
            <div class="form-group">
                <input id="id" type="hidden" formControlName="id" class="form-control">
            </div>
            <div class="form-group">
                <input id="nombre" type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
            </div>
            <div class="form-group">
                <input type="text" id="apellido" formControlName="apellido" class="form-control" placeholder="Apellido">
            </div>
            <div class="form-group">
                <input type="email" id="email" type="username" formControlName="username" class="form-control" required
                    placeholder="Email*">
                @if (username.invalid && (username.dirty || username.touched)) {

                <div class="alert">
                    @if(username.hasError('required')){
                    <svg fill="none" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                        xmlns:serif="http://www.serif.com/"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <rect id="Icons" x="-704" y="-64" width="1280" height="800" style="fill:none;"></rect>
                            <g id="Icons1" serif:id="Icons">
                                <path id="error-circle"
                                    d="M32.085,56.058c6.165,-0.059 12.268,-2.619 16.657,-6.966c5.213,-5.164 7.897,-12.803 6.961,-20.096c-1.605,-12.499 -11.855,-20.98 -23.772,-20.98c-9.053,0 -17.853,5.677 -21.713,13.909c-2.955,6.302 -2.96,13.911 0,20.225c3.832,8.174 12.488,13.821 21.559,13.908c0.103,0.001 0.205,0.001 0.308,0Zm-0.282,-4.003c-9.208,-0.089 -17.799,-7.227 -19.508,-16.378c-1.204,-6.452 1.07,-13.433 5.805,-18.015c5.53,-5.35 14.22,-7.143 21.445,-4.11c6.466,2.714 11.304,9.014 12.196,15.955c0.764,5.949 -1.366,12.184 -5.551,16.48c-3.672,3.767 -8.82,6.016 -14.131,6.068c-0.085,0 -0.171,0 -0.256,0Zm-12.382,-10.29l9.734,-9.734l-9.744,-9.744l2.804,-2.803l9.744,9.744l10.078,-10.078l2.808,2.807l-10.078,10.079l10.098,10.098l-2.803,2.804l-10.099,-10.099l-9.734,9.734l-2.808,-2.808Z">
                                </path>
                            </g>
                        </g>
                    </svg>
                    Dirección de email requerida.
                    }
                    @if(username.hasError('pattern')){
                    <svg fill="none" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                        xmlns:serif="http://www.serif.com/"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <rect id="Icons" x="-704" y="-64" width="1280" height="800" style="fill:none;"></rect>
                            <g id="Icons1" serif:id="Icons">
                                <path id="error-circle"
                                    d="M32.085,56.058c6.165,-0.059 12.268,-2.619 16.657,-6.966c5.213,-5.164 7.897,-12.803 6.961,-20.096c-1.605,-12.499 -11.855,-20.98 -23.772,-20.98c-9.053,0 -17.853,5.677 -21.713,13.909c-2.955,6.302 -2.96,13.911 0,20.225c3.832,8.174 12.488,13.821 21.559,13.908c0.103,0.001 0.205,0.001 0.308,0Zm-0.282,-4.003c-9.208,-0.089 -17.799,-7.227 -19.508,-16.378c-1.204,-6.452 1.07,-13.433 5.805,-18.015c5.53,-5.35 14.22,-7.143 21.445,-4.11c6.466,2.714 11.304,9.014 12.196,15.955c0.764,5.949 -1.366,12.184 -5.551,16.48c-3.672,3.767 -8.82,6.016 -14.131,6.068c-0.085,0 -0.171,0 -0.256,0Zm-12.382,-10.29l9.734,-9.734l-9.744,-9.744l2.804,-2.803l9.744,9.744l10.078,-10.078l2.808,2.807l-10.078,10.079l10.098,10.098l-2.803,2.804l-10.099,-10.099l-9.734,9.734l-2.808,-2.808Z">
                                </path>
                            </g>
                        </g>
                    </svg>
                    Escribe una dirección de correo válida.
                    }
                </div>
                }
                @if(formNewUser.hasError('foundUser')){
                <div class="alert">
                    <svg fill="none" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                        xmlns:serif="http://www.serif.com/"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <rect id="Icons" x="-704" y="-64" width="1280" height="800" style="fill:none;"></rect>
                            <g id="Icons1" serif:id="Icons">                                
                                <path id="error-circle"
                                    d="M32.085,56.058c6.165,-0.059 12.268,-2.619 16.657,-6.966c5.213,-5.164 7.897,-12.803 6.961,-20.096c-1.605,-12.499 -11.855,-20.98 -23.772,-20.98c-9.053,0 -17.853,5.677 -21.713,13.909c-2.955,6.302 -2.96,13.911 0,20.225c3.832,8.174 12.488,13.821 21.559,13.908c0.103,0.001 0.205,0.001 0.308,0Zm-0.282,-4.003c-9.208,-0.089 -17.799,-7.227 -19.508,-16.378c-1.204,-6.452 1.07,-13.433 5.805,-18.015c5.53,-5.35 14.22,-7.143 21.445,-4.11c6.466,2.714 11.304,9.014 12.196,15.955c0.764,5.949 -1.366,12.184 -5.551,16.48c-3.672,3.767 -8.82,6.016 -14.131,6.068c-0.085,0 -0.171,0 -0.256,0Zm-12.382,-10.29l9.734,-9.734l-9.744,-9.744l2.804,-2.803l9.744,9.744l10.078,-10.078l2.808,2.807l-10.078,10.079l10.098,10.098l-2.803,2.804l-10.099,-10.099l-9.734,9.734l-2.808,-2.808Z">
                                </path>
                            </g>
                        </g>
                    </svg>
                    Ya existe una cuenta de usuario asociada a esta dirección.
                </div>
                }
            </div>
            <div class="form-group">
                <input type="password" id="password" formControlName="password" class="form-control" required
                    placeholder="Contraseña*">
                @if (password.invalid && (password.dirty || password.touched)) {

                <div class="alert">
                    @if(password.hasError('required')){
                    <svg fill="none" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                        xmlns:serif="http://www.serif.com/"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <rect id="Icons" x="-704" y="-64" width="1280" height="800" style="fill:none;"></rect>
                            <g id="Icons1" serif:id="Icons">
                                <path id="error-circle"
                                    d="M32.085,56.058c6.165,-0.059 12.268,-2.619 16.657,-6.966c5.213,-5.164 7.897,-12.803 6.961,-20.096c-1.605,-12.499 -11.855,-20.98 -23.772,-20.98c-9.053,0 -17.853,5.677 -21.713,13.909c-2.955,6.302 -2.96,13.911 0,20.225c3.832,8.174 12.488,13.821 21.559,13.908c0.103,0.001 0.205,0.001 0.308,0Zm-0.282,-4.003c-9.208,-0.089 -17.799,-7.227 -19.508,-16.378c-1.204,-6.452 1.07,-13.433 5.805,-18.015c5.53,-5.35 14.22,-7.143 21.445,-4.11c6.466,2.714 11.304,9.014 12.196,15.955c0.764,5.949 -1.366,12.184 -5.551,16.48c-3.672,3.767 -8.82,6.016 -14.131,6.068c-0.085,0 -0.171,0 -0.256,0Zm-12.382,-10.29l9.734,-9.734l-9.744,-9.744l2.804,-2.803l9.744,9.744l10.078,-10.078l2.808,2.807l-10.078,10.079l10.098,10.098l-2.803,2.804l-10.099,-10.099l-9.734,9.734l-2.808,-2.808Z">
                                </path>
                            </g>
                        </g>
                    </svg>
                    Contraseña requerida.
                    }
                    <!-- /// -->

                    @if(password.hasError('pattern')){
                    <svg fill="none" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve"
                        xmlns:serif="http://www.serif.com/"
                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <rect id="Icons" x="-704" y="-64" width="1280" height="800" style="fill:none;"></rect>
                            <g id="Icons1" serif:id="Icons">
                                <path id="error-circle"
                                    d="M32.085,56.058c6.165,-0.059 12.268,-2.619 16.657,-6.966c5.213,-5.164 7.897,-12.803 6.961,-20.096c-1.605,-12.499 -11.855,-20.98 -23.772,-20.98c-9.053,0 -17.853,5.677 -21.713,13.909c-2.955,6.302 -2.96,13.911 0,20.225c3.832,8.174 12.488,13.821 21.559,13.908c0.103,0.001 0.205,0.001 0.308,0Zm-0.282,-4.003c-9.208,-0.089 -17.799,-7.227 -19.508,-16.378c-1.204,-6.452 1.07,-13.433 5.805,-18.015c5.53,-5.35 14.22,-7.143 21.445,-4.11c6.466,2.714 11.304,9.014 12.196,15.955c0.764,5.949 -1.366,12.184 -5.551,16.48c-3.672,3.767 -8.82,6.016 -14.131,6.068c-0.085,0 -0.171,0 -0.256,0Zm-12.382,-10.29l9.734,-9.734l-9.744,-9.744l2.804,-2.803l9.744,9.744l10.078,-10.078l2.808,2.807l-10.078,10.079l10.098,10.098l-2.803,2.804l-10.099,-10.099l-9.734,9.734l-2.808,-2.808Z">
                                </path>
                            </g>
                        </g>
                    </svg>
                    Utiliza al menos 4 caracteres, sin espacios en blanco.
                    }
                </div>


                }
            </div>
            <div class="form-group">
                <input id="rol" type="hidden" formControlName="rol" class="form-control">
            </div>
            <div class="form-group">
                <!-- onfocus para cambiar el campo al pinchar y onblur para volver a cambiarlo al salir -->
                <input id="fechaNacimiento" type="text" placeholder="Fecha de nacimento" onfocus="(this.type='date')"
                    onblur="(this.type='text')" [max]="fechaFormat" formControlName="fechaNacimiento"
                    class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" [disabled]="formNewUser.invalid">Registrar</button>
                <p>Si ya tienes cuenta, inicia sesión <a routerLink="/login">aquí</a></p>
            </div>
        </form>
    </div>
</div>