<div class="cabecera">
    <div class="titulo">
        <h1>GoBooks</h1>
    </div>
    <div class="login">
        <span>¿Ya tienes cuenta?</span>
        <a routerLink="/login">INICIA SESIÓN</a>
    </div>
</div>
<div class="contenedor">
    <h2>Crea tu cuenta</h2>
    <div class="formulario">
        <form [formGroup]="formNewUser" (submit)="register()">
            <div class="form-group">
                <input id="id" type="hidden" formControlName="id" class="form-control">
            </div>
            <div class="form-group">
                <input id="nombre" type="text" formControlName="nombre" class="form-control" required placeholder="Nombre">
            </div>
            <div class="form-group">
                <input type="text" id="apellido" formControlName="apellido" class="form-control" placeholder="Apellido">
            </div>
            <div class="form-group">
                <input type="email" id="email" type="username" formControlName="username" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" id="password" formControlName="password" class="form-control" required placeholder="Contraseña">
            </div>
            <div class="form-group">
                <input id="rol" type="hidden" formControlName="rol" class="form-control">
            </div>
            <div class="form-group">
                <input id="fechaNacimiento" type="date" formControlName="fechaNacimiento" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Registrar</button>
                <p>Si ya tienes cuenta, inicia sesión <a routerLink="/login">aquí</a></p>
            </div>
        </form>
    </div>
</div>