.cabecera {
    background-color: rgb(252, 163, 40);
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    position: relative;
    height: 50px;
}

.cuerpo{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;	
}

.titulo {
    float: left;
    margin-top: 5px;
    margin-left: 15px;
}

h1 {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.login {
    float: right;
    margin-top: 13px;
    margin-right: 22px;
}

.login span {
    color: white;
    font-weight: 600;
    margin-right: 22px;
}

.login a {
    background-color: white;
    padding: 5px 18px;
    border-radius: 3px;
    color: grey;
    font-weight: 600;
    font-size: 0.8em;
}

.login a:hover {
    background-color: rgb(247, 241, 236);
}

.contenedor {
    background-color: rgb(252, 205, 148);
    height: 100%;
    min-height: 700px;
}

h2 {
    padding-top: 40px;
    font-size: 2.6em;
    font-weight: bolder;
    text-align: center;
    color: rgb(255, 255, 255);
}

.formulario {
    text-align: center;
    padding: 30px 50px 18px;
    display: block;
    border-radius: 20px;
    background-color: rgba(243, 238, 233, 0.623);
    width: 500px;
    height: max-content;
    margin: auto;
    margin-top: 20px;
}

.form-group {
    margin-top: 18px;
}

.btn-success {
    width: 400px;
    height: 52px;
    background-color: rgb(252, 163, 40);
    border-color: rgb(252, 163, 40);
    margin-bottom: 5px;
    margin-top: 5px;
    --bs-btn-disabled-bg: rgb(252, 163, 40);
    --bs-btn-disabled-border-color: rgb(252, 163, 40);
    --bs-btn-active-bg: #f59b1e;
    --bs-btn-active-border-color: #f59b1e;
    font-weight: 500;
}

.btn-success:hover {
    background-color: rgb(255, 141, 11);
    border-color: rgb(255, 141, 11);
}

input {
    height: 50px;
}

input:focus {
    box-shadow: 0px 0px 4px 4px rgb(252, 205, 148);
    border-color: rgb(252, 205, 148);
}

a {
    text-decoration: none;
}

p{
    margin-top: 14px;;
}

p a {
    color: rgb(231, 128, 11);
    font-weight: 500;
}

p a:hover {
    color: rgb(255, 141, 11);
}

.alert{
    height: 22px;
    font-size: 0.8em;
    text-align: left;
    color: #820000;
    padding-top: 2px;
    margin-left: -19px;
    margin-bottom: -7px;
    margin-top: 2px;
} 

svg{
   height: 19px;
    width: 19px; 
    fill: #820000;
    padding-bottom: 2px;
}

.form-control {
    transition: background-color 0s 600000s;
}

@media (max-width: 550px) {
    .login span{
        display: none;
    }

    .formulario {    
        width: 400px;   
    }

    .btn-success {
        width: 300px;
    }
}