

.libros{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    /* font-family: Arial, Helvetica, sans-serif; */
}

h2{
    margin: auto;
    margin-top: 32px;
    margin-bottom: 14px;
    padding-bottom: 18px;
    /* width: 1042px; */
    width: 100%;
    max-width: 1050px;
    text-align: center;
    font-size: 2.8em;
    border-bottom: 1px solid #d0d4dd;
    color: #46434e;
 
}
.opciones{
    
   
    /* margin-left: 156px; */
    
    margin-bottom: 20px;
    display: inline-block;
}

button{
    margin-right: 4px;
    border-radius: 5px;
    border: none;
    color: #46434e;
    font-weight: bold;
}

button:focus{
    background: rgb(255, 141, 11);
    color: white;
    font-weight: bold;
   
    
}

.listadoLibros{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    width: 1050px;
    
    text-align: center;
    height: max-content;
    /* margin-left: 150px; */
    margin-top: 30px;
}
.libro{
   height: 350px;
    width: 220px; 
    margin-bottom: 15px;
}
#portada{
    height: 300px;
    width: 220px;
    
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    
   
}



.nombre{
    margin-top: 5px;
    font-size: 0.95em;
}
.nombre a{
    text-decoration: none;
    color:rgb(99, 99, 99);
    
}

.paginator{
    margin-top: 14px;
    background-color: white;
    
}

@media (max-width: 1200px) {
    .libros{
    
    max-width: 850px;
    
    
}

    h2{
    
    max-width: 850px;
    
    
    }

    .listadoLibros{
    
    max-width: 850px;
    column-gap: 3.5rem;
    grid-template-columns: repeat(3, 1fr);
    }
    .libro{
   
    width: 240px; 
    margin-bottom: 38px;
}

    #portada{
    height: 320px;
    width: 240px;
    
    
    
   
}
}

@media (max-width: 899px) {
    .libros{
    
    max-width: 650px;
    
    
}

h2{
    
    max-width: 650px;
    
    
}

.listadoLibros{
    
    max-width: 650px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7rem;
}

.libro{
   
    width: 260px; 
    margin-bottom: 58px;
}
#portada{
    height: 340px;
    width: 260px;
    
    
    
   
}

}

@media (max-width: 699px) {

    .libros{
    
    max-width: 470px;
    
    
}

h2{
    font-size: 2.6em;
    max-width: 470px;
    
    
}

.listadoLibros{
    
    max-width: 470px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.libro{
   
    width: 220px; 
    margin-bottom: 38px;
}
#portada{
    height: 300px;
    width: 220px;
    
   
    
   
}

}

@media (max-width: 480px){

    .libros{
    
    max-width: 360px;
    
    
}

h2{
    font-size: 2.4em;
    max-width: 360px;
    margin-top: 50px;
    
}
    .listadoLibros{
    
    max-width: 360px;
    grid-template-columns: repeat(1, 1fr);
    
}

.libro{
   margin: auto;
    width: 260px; 
    margin-bottom: 58px;
}
#portada{
    height: 340px;
    width: 260px;
    
    
    
   
}
}