/* Estilo general de Libros */
.books {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

h2 {
    margin: 32px auto 14px;
    padding-bottom: 18px;
    width: 100%;
    max-width: 1050px;
    text-align: center;
    font-size: 2.8em;
    border-bottom: 1px solid #d0d4dd;
    color: #46434e;
}

/* Estilos filtrado de lecturas */
.options {
    margin-bottom: 20px;
    display: inline-block;
}

button {
    margin-right: 4px;
    border-radius: 5px;
    border: none;
    color: #46434e;
    font-weight: bold;
}

button:focus {
    background: rgb(255, 141, 11);
    color: white;
    font-weight: bold;
}

/* Estilo para el listado de libros */
.book-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    width: 1050px;
    text-align: center;
    height: max-content;
    margin-top: 30px;
}

.book {
    height: 350px;
    width: 220px;
    margin-bottom: 38px;
}

#cover {
    height: 300px;
    width: 220px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
}

.name {
    margin-top: 5px;
    font-size: 0.95em;
}

.name a {
    text-decoration: none;
    color: rgb(99, 99, 99);

}

/* Estilo del paginador */
.paginator {
    margin-top: 14px;
    background-color: white;
}

/* Media queries para pantallas grandes */
@media (max-width: 1200px) {
    .books {
        max-width: 850px;
    }

    h2 {
        max-width: 850px;
    }

    .book-list {
        max-width: 850px;
        column-gap: 3.5rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .book {
        width: 240px;
        margin-bottom: 58px;
    }

    #cover {
        height: 320px;
        width: 240px;
    }
}

@media (max-width: 899px) {
    .books {
        max-width: 650px;
    }

    h2 {
        max-width: 650px;
    }

    .book-list {
        max-width: 650px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 7rem;
    }

    .book {
        width: 260px;
    }

    #cover {
        height: 340px;
        width: 260px;
    }
}

@media (max-width: 699px) {
    .books {
        max-width: 470px;
    }

    h2 {
        font-size: 2.6em;
        max-width: 470px;
    }

    .book-list {
        max-width: 470px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .book {
        width: 220px;
        margin-bottom: 38px;
    }

    #cover {
        height: 300px;
        width: 220px;
    }
}

/* Media query para pantallas de menor dimension */
@media (max-width: 480px) {
    .books {
        max-width: 360px;
    }

    h2 {
        font-size: 2.4em;
        max-width: 360px;
        margin-top: 50px;
    }

    .book-list {
        max-width: 360px;
        grid-template-columns: repeat(1, 1fr);
    }

    .book {
        margin: auto;
        width: 260px;
        margin-bottom: 58px;
    }

    #cover {
        height: 340px;
        width: 260px;

    }
}