.cabecera {
    background-color: rgb(252, 163, 40);
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    position: relative;
    height: 50px;
}

.titulo {
    float: left;
    margin-top: 5px;
    margin-left: 15px;
}

h1 {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.registro {
    float: right;
    margin-top: 13px;
    margin-right: 22px;
}

.registro span {
    color: white;
    font-weight: 600;
    margin-right: 22px;
}

.registro a {
    background-color: white;
    padding: 5px 18px;
    border-radius: 3px;
    color: grey;
    font-weight: 600;
    font-size: 0.8em;
}

.registro a:hover {
    background-color: rgb(247, 241, 236);
}

.contenedor {
    background-color: rgb(252, 205, 148);
    height: 700px;
}

h2 {
    padding-top: 47px;
    font-size: 2.6em;
    font-weight: bolder;
    text-align: center;
    color: rgb(255, 255, 255);
}

#logo {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
}

.formulario {
    text-align: center;
    padding: 30px 50px 18px;
    display: block;
    border-radius: 20px;
    background-color: rgba(243, 238, 233, 0.623);
    width: 500px;
    height: 470px;
    margin: auto;
    margin-top: 40px;
}

.form-group {
    margin-top: 22px;
}

/* ver si quitar abajo colores */
.btn-primary {
    width: 400px;
    background-color: rgb(252, 163, 40);
    border-color: rgb(252, 163, 40);
    margin-bottom: 5px;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: rgb(255, 141, 11);
    border-color: rgb(255, 141, 11);
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #f59b1e;
    border-color: #f59b1e;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    background-color: rgb(252, 163, 40);
    border-color: rgb(252, 163, 40);
}

input {
    height: 50px;
}

input:focus {
    box-shadow: 0px 0px 4px 4px rgb(252, 205, 148);
    border-color: rgb(252, 205, 148);
}

a {
    text-decoration: none;
}

p a {
    color: rgb(231, 128, 11);
    font-weight: 500;
}

p a:hover {
    color: rgb(255, 141, 11);
}

.alert {
    height: 22px;
    font-size: 0.8em;
    text-align: left;
    color: #820000;
    padding-top: 2px;
    margin-left: -19px;
    margin-bottom: -7px;
    margin-top: 2px;
}

svg {
    height: 19px;
    width: 19px;
    fill: #820000;
    padding-bottom: 2px;
}

.form-control {
    transition: background-color 0s 600000s;
}