/* Apartado cabecera login */
.header {
    background-color: rgb(252, 163, 40);
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
    position: relative;
    height: 50px;
}

.header-content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;	
}

.title {
    float: left;
    margin-top: 5px;
    margin-left: 15px;
}

h1 {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.registration {
    float: right;
    margin-top: 13px;
    margin-right: 22px;
}

.registration span {
    color: white;
    font-weight: 600;
    margin-right: 22px;
}

.registration a {
    background-color: white;
    padding: 5px 18px;
    border-radius: 3px;
    color: grey;
    font-weight: 600;
    font-size: 0.8em;
}

.registration a:hover {
    background-color: rgb(247, 241, 236);
}

/* Apartado formulario de login */
.form-container {
    background-color: rgb(252, 205, 148);
    height: 100%;
    min-height: 700px;
}

h2 {
    padding-top: 47px;
    font-size: 2.6em;
    font-weight: bolder;
    text-align: center;
    color: rgb(255, 255, 255);
}

#logo {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
}

/* Formulario login */
.form-login {
    text-align: center;
    padding: 30px 50px 18px;
    border-radius: 20px;
    background-color: rgba(243, 238, 233, 0.623);
    width: 500px;
    height: max-content;
    margin: 40px auto 0 auto;
}

.form-group {
    margin-top: 22px;
}

/* Estilo inputs del formulario */
.form-control {
    height: 50px;
    transition: background-color 0s 600000s;
}

.form-control:focus {
    box-shadow: 0px 0px 4px 4px rgb(252, 205, 148);
    border-color: rgb(252, 205, 148);
}

/* Estilo boton de iniciar sesion */
.btn-primary {
    width: 400px;
    background-color: rgb(252, 163, 40);
    border-color: rgb(252, 163, 40); 
    --bs-btn-disabled-bg: rgb(252, 163, 40);
    --bs-btn-disabled-border-color: rgb(252, 163, 40);
    --bs-btn-active-border-color: #f59b1e;
    margin-bottom: 5px;
    font-weight: 500;
}

.btn-primary:hover {
    border-color: rgb(255, 141, 11);
}

/* Estilo de enlaces */
a {
    text-decoration: none;
}

p a {
    color: rgb(231, 128, 11);
    font-weight: 500;
}

p a:hover {
    color: rgb(255, 141, 11);
}

/* Avisos de comprobaciones de formulario */
.alert {
    height: 22px;
    font-size: 0.8em;
    text-align: left;
    color: #820000;
    padding-top: 2px;
    margin: 2px 0 -7px -19px;
}

svg {
    height: 19px;
    width: 19px;
    fill: #820000;
    padding-bottom: 2px;
}

/* Media query para pantallas de menor dimension */
@media (max-width: 550px) {
    .registration span{
        display: none;
    }

    .form-login {    
        width: 400px;   
    }

    .btn-primary {
        width: 300px;
    }
}