<app-header-admin></app-header-admin>
<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin-books">Libros</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/admin-books/book-section',libro.id]">{{libro.nombre}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Modificar</li>
    </ol>
  </nav>
  <h2>Modificar libro</h2>
  <div class="row g-5">
    <form [formGroup]="formUpdate" (submit)="update()">

      <div class="form-group">
        <label class="control-label" for="ac-fn">Título*</label>
        <input type="text" id="nombre" class="form-control" formControlName="nombre">
        @if (nombre.invalid && (nombre.dirty || nombre.touched)) {
                <div class="alert">
                    @if(nombre.hasError('required')){
                    <svg fill="none" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <path id="error-circle"
                                        d="M32.085,56.058c6.165,-0.059 12.268,-2.619 16.657,-6.966c5.213,-5.164 7.897,-12.803 6.961,-20.096c-1.605,-12.499 -11.855,-20.98 -23.772,-20.98c-9.053,0 -17.853,5.677 -21.713,13.909c-2.955,6.302 -2.96,13.911 0,20.225c3.832,8.174 12.488,13.821 21.559,13.908c0.103,0.001 0.205,0.001 0.308,0Zm-0.282,-4.003c-9.208,-0.089 -17.799,-7.227 -19.508,-16.378c-1.204,-6.452 1.07,-13.433 5.805,-18.015c5.53,-5.35 14.22,-7.143 21.445,-4.11c6.466,2.714 11.304,9.014 12.196,15.955c0.764,5.949 -1.366,12.184 -5.551,16.48c-3.672,3.767 -8.82,6.016 -14.131,6.068c-0.085,0 -0.171,0 -0.256,0Zm-12.382,-10.29l9.734,-9.734l-9.744,-9.744l2.804,-2.803l9.744,9.744l10.078,-10.078l2.808,2.807l-10.078,10.079l10.098,10.098l-2.803,2.804l-10.099,-10.099l-9.734,9.734l-2.808,-2.808Z">
                                    </path>
                        </svg>
                    Título requerido.
                    }  
                
                @if(nombre.hasError('pattern')){
                  <!-- <div class="alert"> -->
                    <svg fill="none" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <path id="error-circle"
                                        d="M32.085,56.058c6.165,-0.059 12.268,-2.619 16.657,-6.966c5.213,-5.164 7.897,-12.803 6.961,-20.096c-1.605,-12.499 -11.855,-20.98 -23.772,-20.98c-9.053,0 -17.853,5.677 -21.713,13.909c-2.955,6.302 -2.96,13.911 0,20.225c3.832,8.174 12.488,13.821 21.559,13.908c0.103,0.001 0.205,0.001 0.308,0Zm-0.282,-4.003c-9.208,-0.089 -17.799,-7.227 -19.508,-16.378c-1.204,-6.452 1.07,-13.433 5.805,-18.015c5.53,-5.35 14.22,-7.143 21.445,-4.11c6.466,2.714 11.304,9.014 12.196,15.955c0.764,5.949 -1.366,12.184 -5.551,16.48c-3.672,3.767 -8.82,6.016 -14.131,6.068c-0.085,0 -0.171,0 -0.256,0Zm-12.382,-10.29l9.734,-9.734l-9.744,-9.744l2.804,-2.803l9.744,9.744l10.078,-10.078l2.808,2.807l-10.078,10.079l10.098,10.098l-2.803,2.804l-10.099,-10.099l-9.734,9.734l-2.808,-2.808Z">
                                    </path>
                        </svg>
                    El título no puede estar vacío.
                    <!-- </div> -->
                    }
                    </div>
                  }

                  @if(formUpdate.hasError('foundBook')){
                <div class="alert">
                    <svg fill="none" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <path id="error-circle"
                                        d="M32.085,56.058c6.165,-0.059 12.268,-2.619 16.657,-6.966c5.213,-5.164 7.897,-12.803 6.961,-20.096c-1.605,-12.499 -11.855,-20.98 -23.772,-20.98c-9.053,0 -17.853,5.677 -21.713,13.909c-2.955,6.302 -2.96,13.911 0,20.225c3.832,8.174 12.488,13.821 21.559,13.908c0.103,0.001 0.205,0.001 0.308,0Zm-0.282,-4.003c-9.208,-0.089 -17.799,-7.227 -19.508,-16.378c-1.204,-6.452 1.07,-13.433 5.805,-18.015c5.53,-5.35 14.22,-7.143 21.445,-4.11c6.466,2.714 11.304,9.014 12.196,15.955c0.764,5.949 -1.366,12.184 -5.551,16.48c-3.672,3.767 -8.82,6.016 -14.131,6.068c-0.085,0 -0.171,0 -0.256,0Zm-12.382,-10.29l9.734,-9.734l-9.744,-9.744l2.804,-2.803l9.744,9.744l10.078,-10.078l2.808,2.807l-10.078,10.079l10.098,10.098l-2.803,2.804l-10.099,-10.099l-9.734,9.734l-2.808,-2.808Z">
                                    </path>
                        </svg>
                    Título ya registrado.
                </div>
                }
      </div>
      <div class="form-group" formGroupName="autor">
        <label class="control-label" for="ac-ln">Autor</label>
        <select formControlName="id" id="autor">
          @for (autor of autores; track autor.id){

          <option [value]="autor.id">
            {{ autor.nombre}}
          </option>
          }

        </select>

        <button type="button" class="editButton" matButton="elevated"
          (click)="openUpdateAuthorDialog('0ms', '0ms')">Editar</button>
      </div>
      <div class="form-group">
        <label class="control-label">ISBN</label>
        <input id="isbn" type="text" formControlName="isbn" class="form-control">
         @if(formUpdate.hasError('foundIsbn')){
                <div class="alert">
                    <svg fill="none" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <path id="error-circle"
                                        d="M32.085,56.058c6.165,-0.059 12.268,-2.619 16.657,-6.966c5.213,-5.164 7.897,-12.803 6.961,-20.096c-1.605,-12.499 -11.855,-20.98 -23.772,-20.98c-9.053,0 -17.853,5.677 -21.713,13.909c-2.955,6.302 -2.96,13.911 0,20.225c3.832,8.174 12.488,13.821 21.559,13.908c0.103,0.001 0.205,0.001 0.308,0Zm-0.282,-4.003c-9.208,-0.089 -17.799,-7.227 -19.508,-16.378c-1.204,-6.452 1.07,-13.433 5.805,-18.015c5.53,-5.35 14.22,-7.143 21.445,-4.11c6.466,2.714 11.304,9.014 12.196,15.955c0.764,5.949 -1.366,12.184 -5.551,16.48c-3.672,3.767 -8.82,6.016 -14.131,6.068c-0.085,0 -0.171,0 -0.256,0Zm-12.382,-10.29l9.734,-9.734l-9.744,-9.744l2.804,-2.803l9.744,9.744l10.078,-10.078l2.808,2.807l-10.078,10.079l10.098,10.098l-2.803,2.804l-10.099,-10.099l-9.734,9.734l-2.808,-2.808Z">
                                    </path>
                        </svg>
                    Isbn ya registrado.
                </div>
                }

      </div>

      <div class="form-group" formGroupName="editorial">
        <label class="control-label">Editorial</label>
        <select formControlName="id" id="editorial">

          @for (editorial of editoriales; track editorial){

          <option [value]="editorial.id">
            {{ editorial.nombre}}
          </option>
          }
        </select>


        <button type="button" class="editButton" matButton="elevated"
          (click)="openUpdatePublisherDialog('0ms', '0ms')">Editar</button>
      </div>
      <div class="form-group" formGroupName="genero">
        <label class="control-label">Género</label>
        <select formControlName="id" id="genero">

          @for (genero of generos; track genero){

          <option [value]="genero.id">
            {{ genero.nombre}}
          </option>
          }
        </select>

        <button type="button" class="editButton" matButton="elevated"
          (click)="openUpdateGenreDialog('0ms', '0ms')">Género</button>
      </div>
      <div class="form-group">
        <label class="control-label">Portada</label>
        <input type="text" id="portada" formControlName="portada" class="form-control" (input)="sendImage($event)">
      </div>
      <div class="form-group">
        <label class="control-label">Sinópsis</label>
        <textarea id="sinopsis" formControlName="sinopsis" class="form-control"></textarea>
      </div>



      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="formUpdate.invalid">Actualizar</button>

      </div>

      <!-- <button type="submit" class="btn btn-primary btn-lg">&nbsp;Actualizar&nbsp;</button> -->
    </form>

  </div>
  <div class="seccionImagen">
      <!-- Capa para el fondo difuminado -->
      <div class="fondo-difuminado" style="background-image: url('{{libro.portada}}');"></div>

      <!-- Imagen de portada principal (miniatura) -->
      <img [src]="url" id="imagen" class="miniatura-frontal" />
    </div>
  <!-- <div class="imagen">
    <img [src]="url" />

  </div> -->
  <button type="button" class="deleteButton" matButton="elevated"
    (click)="openDeleteBookDialog('0ms', '0ms')">Eliminar</button>

  <button type="button" class="delete-buttom" matButton="elevated"
    (click)="openDeleteBookDialog('0ms', '0ms')"><img src="/assets/icons/bin.png" class="delete" alt="delete" /></button>
    
</div>