/* Estilo general de Resultados editorial */
.books {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

h3 {
    margin-top: 60px;
    border-bottom: 1px solid #d0d4dd;
    padding-bottom: 6px;
    width: 100%;
    max-width: 1050px;
}

/* Estilo para el listado de libros */
.book-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.5rem;
    height: max-content;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.book {
    height: 350px;
    width: 220px;
    margin-bottom: 38px;
}

#cover {
    height: 300px;
    width: 220px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
}

.name {
    margin-top: 5px;
    font-size: 0.95em;
}

a {
    text-decoration: none;
    color: rgb(99, 99, 99);
}

/* Estilo del paginador */
.paginator {
    margin-top: 14px;
    background-color: white;
}

/* Media queries para pantallas grandes */
@media (max-width: 1200px) {
    .books {
        max-width: 850px;
    }

    h3 {
        max-width: 850px;
    }

    .book-list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5.8rem;
        max-width: 850px;
    }
}

@media (max-width: 899px) {
    .books {
        max-width: 650px;
    }

    h3 {
        max-width: 650px;
    }

    .book-list {
        max-width: 600px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
        margin: 30px auto;
    }

    .book {
        width: 260px;
        margin-bottom: 58px;
    }

    #cover {
        height: 340px;
        width: 260px;
    }
}

@media (max-width: 699px) {
    .books {
        max-width: 470px;
    }

    h3 {
        font-size: 1.6em;
        max-width: 470px;
    }

    .book-list {
        max-width: 470px;
        column-gap: 2rem;
    }

    .book {
        width: 220px;
        margin-bottom: 38px;
    }

    #cover {
        height: 300px;
        width: 220px;
    }
}

/* Media query para pantallas de menor dimension */
@media (max-width: 480px) {
    .books {
        max-width: 360px;
    }

    h3 {
        font-size: 1.4em;
        max-width: 360px;
        margin-top: 50px;
    }

    .book-list {
        max-width: 360px;
        grid-template-columns: repeat(1, 1fr);
    }

    .book {
        margin: auto;
        width: 260px;
        margin-bottom: 58px;
    }

    #cover {
        height: 340px;
        width: 260px;
    }
}