<h2 mat-dialog-title>Modificar editorial</h2>
<mat-dialog-content>
    <form [formGroup]="formUpdatePublisher" (submit)="updatePublisher()">
        <div class="form-group">
            <label class="control-label" for="nombre">Editorial</label>
            <input id="nombre" type="text" formControlName="nombre" class="form-control">
        </div>
        <div class="form-group">
            <mat-dialog-actions class="buttons">
            <button type="button" class="btn" (click)="closeForm()">Atrás</button>
            <button type="submit" class="btn btn-success">Actualizar</button>
            </mat-dialog-actions>
        </div>
    </form>
</mat-dialog-content>