<!-- Header con navegacion para el administrador -->
<app-header-admin></app-header-admin>
<!-- Cuerpo de pagina Administrar libros -->
<div class="administration">
  <h2>Administar libros</h2>
  <!-- Boton para cambiar la visualizacion de la tabla con el listado de libros a galeria -->
  <button type="button" (click)="toggleView()" class="view"><img [src]="url" /></button>
  <!-- Cambio de los campos del buscador en funcion de la vista -->
  @if (showBooksTable) {
  <!-- Bucador tabla -->
  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Título, autor, editorial, género" #input>
  </mat-form-field>
  } @else {
  <!-- Buscador galeria -->
  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilterGalery($event)" placeholder="Título" #input>
  </mat-form-field>
  }

  <span class="create-button"><a routerLink="/admin-books/create-book" class="nav-link">Nuevo +</a></span>
  
  @if (showBooksTable) {
  <!-- Tabla con el listado de libros por orden alfabetico -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell class="title" *matCellDef="let libro">{{libro.nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Autor</th>
      <td mat-cell class="author" *matCellDef="let libro">{{libro.autor.nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="publisher">
      <th mat-header-cell *matHeaderCellDef class="header-publisher">Editorial</th>
      <td mat-cell class="publisher" *matCellDef="let libro">{{libro.editorial.nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef>Género</th>
      <td mat-cell class="genre" *matCellDef="let libro">{{libro.genero.nombre}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <!-- Boton para edicion completa del libro, se inhabilita la apertura del dialog de edicion rapida -->
      <td mat-cell *matCellDef="let libro" (click)="$event.stopPropagation()"><button type="button" class="edit-buttom"
          [routerLink]="['/admin-books/book-section/editar/',libro.id]"><img src="/assets/icons/edit.png" class="edit"
            alt="Editar" /></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Dialog en fila del registro para edicion rapida -->
    <tr mat-row (click)="openDialog(libro,'0ms', '0ms')" *matRowDef="let libro; columns: displayedColumns;"></tr>
  </table>

  <!-- Seccion de paginacion de la lista de libros de la tabla -->
  <mat-paginator class="paginator" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[16, 32, 40]"
    aria-label="Select page" (page)="onPageChange($event)">
  </mat-paginator>

  } @else {
  <!-- Galeria con el listado de libros por orden alfabetico -->
  <div class="books">
    <div class="book-list">
      @if (!filteredBooks) {
        <!-- Vista de la galeria sin filtrar por un termino -->
        @for (libro of libros?.slice(pageSize * pageIndex, pageSize * pageIndex + pageSize); track libro.id){
        <div class="book">
          <a [routerLink]="['/admin-books/book-section',libro.id]"><img src="{{libro.portada}}" id="cover"
              alt="{{libro.nombre}}" /></a>
          <a [routerLink]="['/admin-books/book-section',libro.id]">
            <p class="name">{{libro.nombre}}</p>
          </a>
        </div>
      }
      } @else {
        <!-- Vista de la galeria filtrando por un termino -->
        @for (libro of filteredBooks?.slice(pageSize * pageIndex, pageSize * pageIndex + pageSize); track libro.id){
        <div class="book">
          <a [routerLink]="['/admin-books/book-section',libro.id]"><img src="{{libro.portada}}" id="cover"
              alt="{{libro.nombre}}" /></a>
          <a [routerLink]="['/admin-books/book-section',libro.id]">
            <p class="name">{{libro.nombre}}</p>
          </a>
        </div>
        }
      }
    </div>
    <!-- Seccion de paginacion de la lista de libros de la galeria -->
    <mat-paginator class="paginator" [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex"
      [pageSizeOptions]="[16, 32, 40]" aria-label="Select page" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  }
</div>