.title {
    color: white;
    background-color: rgb(253, 197, 127);
}

p{
    padding-top: 15px;    
}

/* Estilo botones */
.buttons{
    margin-bottom: 5px;
    margin-right: -20px;
 }

.btn.btn-success {
    background-color: rgb(253, 160, 54);
    border: none;
    font-weight: 500;
    margin-left: 10px;
}

.btn.btn-success:hover {
    background-color: rgb(255, 141, 11);
}

.btn:first-child:active{
    border: none;
 }

 .btn:first-child:hover{
    background-color: rgb(240, 238, 238);
}