<div id="cabecera">
    <div id="cabeceraBooks">    
        <a  th:href="@{/inicio}"><img src="/img/ibooks.png" alt="logo" id="logo" /></a>
        <h1>GoBooks</h1>
    </div>    
    <div class="login">
        <a href="#"><button id="login"><img src="img/user.png" alt="usuario" id="usuario"/>Mi cuenta</button></a>
    </div>
</div>
<div class="container">
    <nav class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a th:href="@{/inicio}" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a th:href="@{/libros/lecturas}" class="nav-link">Libros</a></li>
        <li class="nav-item"><a th:href="@{/ejemplar}" class="nav-link">Administrar libros</a></li>
        <li class="nav-item"><a th:href="@{/ejemplar}" class="nav-link">Administrar usuarios</a></li>
        <li class="nav-item"><a th:href="@{/perfil}" class="nav-link">Perfil</a></li>
        <li class="nav-item"><a th:href="@{/logout}" class="nav-link">Cerrar Sesión</a></li>
      </ul>
    </nav>
</div>
